body{
  padding-bottom: 60px;
}
input,button,select,textarea{outline:none}
/* login*/
.login-form .mint-field{
  background: #fff;
  height: 50px;
  border-radius: 100px;
  margin-bottom: 25px;
}
.login-form .mint-field .mint-cell-wrapper{
  border: none;
  font-size: 14px;
  color: #30303d;
  letter-spacing: .4px;
  line-height: 50px;
}
.login-form .mint-cell-wrapper .mint-cell-value .mint-field-core{
  font-size: 14px;
  color: #30303d;
  letter-spacing: .4px;
  line-height: 50px;
  padding: 0 25px;
}
.login-form{
  width: 80%;
  margin: 0 auto;
  margin-top: 124px;
}
.login-form .mint-button.loginBtn{
  display: block;
  border-radius: 100px;
  background: -webkit-linear-gradient(50deg,#4CE6F9, #4C54F9);
  background: -o-linear-gradient(50deg,#4CE6F9, #4C54F9);
  background: -moz-linear-gradient(50deg,#4CE6F9, #4C54F9);
  background: linear-gradient(50deg,#4CE6F9, #4C54F9);
  width: 100%;
  margin-top: 82px;
  font-size: 18px;
  color: #fff;
}
.login-form .noAccount{
  text-align: center;
  margin-top: 25px;
  font-size: 12px;
  color: #71717e;
}
.login-form .noAccount a{
  color: #fff;
}
.mint-cell{
  background: transparent;
  color: #fff;
}
/*
* home
*/
.mint-tabbar{
  background: #31313f;
  box-shadow: 0 -7px 20px 0 rgba(37,37,48,0.83);
}
.mint-tabbar{
  padding: 12px 0;
  position: fixed;
  bottom: 0;
}
.mint-tab-item-icon img{
  width: 22px;
  height: 20px;
}
.mint-tabbar > .mint-tab-item.is-selected{
  background: transparent;
}
.assets-list .mint-cell-wrapper{
  border: none;
}
.chooseCard .mint-actionsheet-listitem:nth-child(1){
  color: #4CA1F9;
}
.flexCen {
  display: flex;
  -webkit-align-items:center;
  align-items:center;
  -webkit-justify-content:center;
  justify-content:center;
}
